body {
  background-color: $blue;
  font-family: $body;
}

h1 {
  font-size: 60px;
  font-family: $title;
  color: $raspberry;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-align: center;
  font-family: $title;
  color: $dark-raspberry;
}

section {
  background-color: white;
  margin: 0 auto;
  height: 100%;
  width: 60%;
  padding: 10px 30px;
  box-shadow: 0 0 20px black;
}

button {
  @include button(right);
}

input[type="submit"] {
  @include button(left);
}

.group {
  position: relative;
}
