body {
  background-color: $blue;
  font-family: $body;
}

h1 {
  font-size: 60px;
  font-family: $title;
  color: $raspberry;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-align: center;
  font-family: $title;
  color: $dark-raspberry;
}

section {
  background-color: white;
  margin: 0 auto;
  height: 100%;
  width: 60%;
  padding: 10px 30px;
  box-shadow: 0 0 20px black;
}

button {
  @include button;
}

input[type="submit"] {
  @include button;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid $light-gray;
}

textarea {
  margin-top: 5px;
  border: 1px solid $light-gray;
  padding: 5px;
  font-family: $title;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 0;
  padding: 7px;
  border: 1px solid $light-gray;
  font-size: 16px;
  width: 150px;

  &:focus {
    outline: none;
  }
}

label {
  position: relative;
}

.group {
  position: relative;
}
