.select-arrow {
  &:before {
    content: "";
    background-color: $dark-raspberry;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: 203px;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 203px;
    top: 5px;
    transform: rotate(45deg);
    background-color: white;
    width: 10px;
    height: 10px;
  }
}
