<!DOCTYPE html>
<html>
  <head>
    <title>AlgorithmRacer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  </head>

  <body>
    <section class="css-test">
      <nav>
        <button type="button" name="button">Login</button>
        <button type="button" name="button">Submit</button>
      </nav>

      <h1>algorithmRacer_</h1>

      <h2>Sorting Leaderboard</h2>
      <h4>Go to:</h4><div class="leaderboard-dropdown">
        <ul>
          <li>Sorting</li>
          <li>Searching</li>
          <li>Other</li>
          <li>All</li>
        </ul>
      </div>

      <ol class="leaderboard-list">
        <li><a href="#">Sample Entry</a>
          <div class="leaderboard-item-hover">
            Author: Boaty McBoatface<br>
            Language: Javascript<br>
            Score: Over 9000<br>
          </div>
        </li>

        <li><a href="#">Sample Entry</a>
          <div class="leaderboard-item-hover">
            Author: Boaty McBoatface<br>
            Language: Javascript<br>
            Score: Over 9000<br>
          </div>
        </li>

        <li><a href="#">Sample Entry</a>
          <div class="leaderboard-item-hover">
            Author: Boaty McBoatface<br>
            Language: Javascript<br>
            Score: Over 9000<br>
          </div>
        </li>

        <li><a href="#">Sample Entry</a>
          <div class="leaderboard-item-hover">
            Author: Boaty McBoatface<br>
            Language: Javascript<br>
            Score: Over 9000<br>
          </div>
        </li>
      </ul>
      <br>
      <label for="">Title: <input type="text" name="" value=""></label>
      <br>
      <textarea class="code-box"
                name="name"
                rows="16"
                cols="72"
                placeholder="Insert code here"></textarea>
      <br>
      <input type="submit" name="" value="Submit Algorithm">
    </section>

    <%= yield %>
  </body>
</html>
